<div class="container-fluid welcomepage d-flex  justify-content-center">
    <div class="align-self-center cppy">

      <div class="text-left text-white ">
        <div class="p-2">
          <div class="text-center w-100"><img src="https://assets.coverfox.com/static/global/img/logos/cf-dark-orange-h31.png" class="imfcl" alt="Cover fox Test"> </div>
          <div class="text-white text-center pt-1">UI Test</div>
        </div>
          <p>  Slide to see COVID-19 Status</p>
      </div>
      <mat-slider (input)="onInputChange($event)"></mat-slider>
    </div>
</div>
