<div class="container">
  <p class="p-5 text-white">
    Creative professional with over 8 years of experience in developing interactive, user-friendly applications using the
    latest frameworks. Write HTML and CSS code according to W3C Standard. Hands-on experience on Angular (6,7,8), HTML5,
    CSS 3,SASS,JavaScript, Jquery,Bootstrap,Responsive Design.Hold high level of creativity & capability to convert
    wireframes/PSDs into interactive interfaces with HTML, CSS & JavaScript
  </p>

</div>
